.square {
  background: #cb9d9d;
  border: 2px solid #999;
  float: left;
  font-size: 68px;
  font-weight: bold;
  line-height: 34px;
  height: 115px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  width: 112px;
}

.square.selected {
  background: #319037;
}


.board-row:after {
  clear: both;
  content: '';
  display: table;
}

.status {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 42px;
  text-align: center;
  
}
.game {
  display: flex;
  flex-direction: row;
  justify-content: center;
  
  
}

.bg {
  background-image: url("../src/assets/kseniya-lapteva-0YuATzSpSZw-unsplash.jpg");
  height: min-content;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: navy;
  height: max-content;
}